<!DOCTYPE html>
<html>
  <head>
    <title>
      Sinatra Blog for CodeCore Bootcamp
    </title>
  </head>
  <body>

<h1>Sinatra Blog</h1>

<a href="/">Home</a>
|
<a href="/create">Create a Blog Post</a>
|
<a href="/admin">Control Panel</a>
<hr>

<%= yield %>

  </body>
</html>