<h1>Please login to proceed</h1>

<form action="/login" method="POST">
  <table>
    <tr>
      <td>
        <label for="username">
          Username
        </label>
      </td>
      <td>
        <input type="text" name="username" id="username" required />
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">
          Password
        </label>
      </td>
      <td>
        <input type="password" name="password" id="password" required />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Login" />
      </td>
    </tr>
  </table>
</form>